.calendar
    %table.projects_table
        %tr.projects_table__title
            %th.projects_table__name.table_center
                = "#{projects.model_name.to_s}"
        -projects.each do |project|
            %tr
                %th.table_center.project__title
                    =link_to project.name, project.calendar_title_link(user: user)
                    -#  .graph{style: "width: #{100*project.completeness}%;"}
    .scroll
        %table.dates
            %tr
                =create_months_row() do |colspan_size, month|
                    -# 月を表示する行
                    %th.table_center.dates__month{colspan: colspan_size, style: "width: #{colspan_size*25}px"} #{month}
            %tr.dates__title
                - create_days_row do |current_day| #日付を受け取っている
                    -# 日を表示する行
                    %th.table_center.dates__day #{current_day.day}
            - create_project_days_row(projects) do |project, y|
                %tr
                    - create_days_row_with_project(project, user, y) do |total_time, point, status|#右から合計時間、座標、ステータス

                        %th{class: "table_center dates__day calendar__days_cell", data: status} #{total_time&.to_i}